# local package
-e .

matplotlib
librosa
numpy
scipy
tqdm
torch


# for testing
coverage
pytest>=3.6
pytest-ordering
pytest-cov
python-coveralls
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability